<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Form</title>
    <link rel="stylesheet" th:href="@{resources/css/formstyle.css}"/>
</head>
<body>

<h1>Form</h1>

<form th:action="@{/formularz}" th:object="${person}" method="post" enctype="multipart/form-data">
    <table>
        <tbody>
        <tr>
            <td>First name</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>

        <tr>
            <td>Last name</td>
            <td><input type="text" th:field="*{lastName}" /></td>
        </tr>

        <tr>
            <td>Age</td>
            <td><input type="text" th:field="*{age}" /></td>
        </tr>


        <tr>
            <td>
                <h4>Hobbies</h4>
                <ul>
                    <li th:each="c : ${hobbiesList}">
                        <input type="checkbox" th:field="*{hobby}" th:value="${c}"/>
                        <label th:text="${c}"></label>
                    </li>
                </ul>
            </td>
        </tr>






        <tr>
            <td>
                <h4>Gender</h4>
                <ul>
                    <li th:each="g : ${genderList}">
                        <input type="radio" th:field="*{gender}" th:value="${g}"/>
                        <label th:text="${g}"></label>
                    </li>
                </ul>
            </td>
        </tr>


        <tr>
            <td><input type="submit" value="Submit" /></td>
            <td><input type="reset" value="Reset" /></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>